
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mycollege.ett">
	<uses-permission	android:name="android.permission.INTERNET"/>
	<uses-permission	android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application
		android:allowBackup="true"
		android:label="MLU"
		android:icon="@drawable/logo"
		android:largeHeap="true"
		android:hardwareAccelerated="true"
		android:usesCleartextTraffic="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:exported="true">



			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

		</activity>
		<activity
			android:name=".AuthActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ForgotPassActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".HomeActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:exported="true">



		</activity>
		<activity
			android:name=".NotificationActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ProfileActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>


		<activity
			android:name=".Contact"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".news"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".About"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".affiliated"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".apply_online"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".exam"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".gallery"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".programs"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".about_course"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>



		<activity
			android:name=".resultActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>



		<activity
			android:exported="true"
			android:name=".payment"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait">



		</activity>

		<activity
			android:name=".payments.StatusActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>


		<activity
			android:name=".payments.WebViewActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"/>


		<!-- Add your API key here -->




		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>

		<provider
			android:name="com.google.firebase.provider.FirebaseInitProvider"
			android:authorities="com.mycollege.ett.firebaseinitprovider"
			android:exported="false"
			android:initOrder="100"/>

		<service
			android:name="com.google.firebase.components.ComponentDiscoveryService"
			android:exported="false">
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
				android:value="com.google.firebase.components.ComponentRegistrar"/>
		</service>


		<activity
			android:hardwareAccelerated="true"
			android:name="com.razorpay.CheckoutActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:exported="true"
			android:theme="@style/CheckoutTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<data
					android:host="rzp.io"
					android:scheme="io.rzp" />
			</intent-filter>
		</activity>


		<receiver
			android:hardwareAccelerated="true"
			android:name="com.razorpay.RzpTokenReceiver"
			android:exported="false">
			<intent-filter>
				<action android:name="rzp.device_token.share" />
			</intent-filter>
		</receiver>




		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
	</application>
</manifest>
